name: Release

on:
  release:
    types: [published]

env:
  project_name: InventorySimulator

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update module version
        run: |
          sed -i 's/Version = "1.0.0"/Version = "${{ github.event.release.tag_name }}"/g' src/${{ env.project_name }}.cs

      - name: Set up .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish the project
        run: dotnet publish

      - name: Move release zip
        run: |
          mv build/${{ env.project_name }}.zip ${{ env.project_name }}-v${{ github.event.release.tag_name }}.zip

      - name: Upload release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} ${{ env.project_name }}-v${{ github.event.release.tag_name }}.zip
